body {
    height:200vh;
    background-image: url(../images/bg1.png);
    /* background - 시작 속성들은 배경이미지 전용 */
    background-size:cover;
    /* background-repeat:no-repeat; */
    background-position:left top;
    background-attachment: fixed;/* 스크롤 관계없이 배경고정 */
}
#slide_wrap {
    width:549px; height:298px;
    background-color:aqua;
    /* test 임시색상은 aqua, yellow 영문명 색상
    실제 디자인 색상은 #.... 헥사코드로 입력 */
    margin:109px auto 0;
    /* 피그마 넘친 콘텐츠 숨기기 : hiddin, scroll, auto */
    overflow:auto;
}
#slide_wrap .slide_container {
    /* 기본 너비값 100% (부모와 같음) */
    width:max-content;
}
#slide_wrap .slide_container .slide {
    width:549px; height:298px;
    display:inline-block;
}
#slide_wrap .slide_container .slide:nth-child(1) {
    background-color:pink;
}
#slide_wrap .slide_container .slide:nth-child(2) {
    background-color:beige;
}
#slide_wrap .slide_container .slide:nth-child(3) {
    background-color:yellow;
}
#slide_wrap .slide_container .slide:nth-child(4) {
    background-color:skyblue;
}
#slide_wrap a {}

/* 베스트상품 슬라이드 */
#best_slide_wrap {
    width:1200px;
    /* w(100%) h(auto(hug)) */
    background-color:aquamarine;
    margin:100px auto 0;
    overflow:auto;
}
#best_slide_wrap h1 {}
#best_slide_wrap .slide_container {
    width:max-content;
}
#best_slide_wrap .slide_container .slide {
    width:600px; height:400px;
    font-size:3rem;
    /* display:inline-block;
    margin-right:-3px; */
    /* inline-block으로 옆으로 정렬 시 기본여백발생으로 margin-rignt:-3px로 제거하는 작업을 해줘야 한다. */
    /* 옆으로 나열하는 레이아웃 속성(형제관계) */
    float:left;
}
#best_slide_wrap .slide_container .slide:nth-child(odd) {background-color: darkseagreen;}
#best_slide_wrap .slide_container .slide:nth-child(2) {clear:both;}
#best_slide_wrap .slide_container .slide:nth-child(3) {
    background-color: darkseagreen;
    /* float:none; */
    /* float:none -> float를 모두 해제함 */
    clear:both;
    /* clear:both -> 이전 형제에서 온 float를 모두 해제함 */
}
#best_slide_wrap .slide_container .slide:nth-child(even) {background-color: darksalmon;}
#best_slide_wrap a {}