/* 디자인 css */
body {}
#weather {
    /* 1. 크기 393×852 */
    width:393px; height:852px;
    /* 2. 간격20(형제사이(css는 형제선택자에 작성해야함)), 패딩(부모-자식) */
    /* 패딩 상하(50) 좌우(15) */
    padding:50px 15px;
    /* 3. 배경색 */
    background-color:#79863E;
}
/* 부모(#weather) 안 모든(*) 자식(>) */
#weather > * {padding-bottom:20px;}
#weather h1 {}
#weather .area {
    font-size:1.50rem;
}
#weather .temperature {
    font-size:2.00rem;
}
#weather p {}
#weather .sub_title {
    font-size:1.25rem;
}
#weather .humidity {}
#weather .dust {
    font-size:1.25rem;
}
#weather .result {
    line-height: 1.5;/* 150% */
}
